html {
	background: #ffffff;
}

body {
	font-family: 'Nunito', monospace;
	color: var(--color-text);
	background-color: var(--color-background);
	min-height: 100vh;
  overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#paramters {
	width: 100%;
  height: 500px;
}

#myContainer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

/* Color schemes */
.demo-magneto {
	--color-text: #41353d;
	--color-background: #FECB09;
	--color-link: #000;
	--color-link-hover: #41353d;
}

.demos {
	width: 15%;
	/* grid-area: demos; */
	/* text-align: right; */
	/* display: block; */
	position: absolute;
	right: 30px;
	z-index: 2;
}

.demo {
	margin: 0 0.15em;
}

a.demo--current {
	/* text-decoration: underline; */
	color: black;
	background-color: #D6D3CC;
	/* pointer-events: none; */
}


.demo span {
	text-transform: lowercase;
	font-weight: bold;
	pointer-events: none;
	white-space: nowrap;
}

#gui {
	position: relative;
	float: left;
	background-color: white;
	width:1450px;
  height:200px;
}

.bt {
	width: 100px;
	height: 20px;
}

#title {
	font-family: 'Nunito', monospace !important;
	font-weight: bold;
}

input:focus {
	outline: none;
}

.colours {
	width: 15px;
	height: 15px;
}
